{% extends "base.html" %}
{% block title %}Libro Diario{% endblock title %}
{% block content %}
<div class="container mt-4">
  {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
  <!-- Título y botón -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="fw-bold">Libro Diario</h2>
    <a href="{% url "formItem" %}" class="btn btn-dark">
      <i class="bi bi-plus-circle"></i> Nueva Partida
    </a>
  </div>

  <!-- Tabla -->
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="table-dark">
        <tr>
          <th scope="col">Fecha</th>
          <th scope="col">Código</th>
          <th scope="col">Cuenta</th>
          <th scope="col">Debe</th>
          <th scope="col">Haber</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
            <tr>
                <td><strong>{{item.date|date:"d/m/Y"}}</strong></td>
                <td></td>
                <td><strong>Partida No. {{ forloop.counter }}</strong>
                  <a href="{% url 'editItem' item.id %}" class="btn btn-sm btn-primary">
                    Editar
                  </a>
                  <a href="{% url 'deleteItem' item.id %}" class="btn btn-sm btn-danger">
                    Eliminar
                  </a>                
                  </form>
                </td>
                <td></td>
                <td></td>
            </tr>
            {% for trans in transaccion %}
                {% if trans.Item.id == item.id %}
                <tr>
                    <td></td>
                    <td>{{trans.account.code}}</td>
                    <td>{{trans.account.name}}</td>
                    {% if trans.debit_credit is False %}
                        <td>${{trans.balance|floatformat:2}}</td>
                        <td></td>
                    {% else %}
                        <td></td>
                        <td>${{trans.balance|floatformat:2}}</td>

                    {% endif %}
                </tr>
                {% endif %}
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td>{{item}}</td>
                <td></td>
                <td></td>
            </tr>
        {% endfor %}
        
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
