{% extends 'base.html' %}

{% block content %}
<form>

    {% csrf_token %}
</form>
<div class="container">
    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="container pt-5">
        <a href="{% url "createaccnt" %}" class="btn btn-primary">Crear cuenta</a>
    </div>
</div>
<div class="container">
    <div class="container pt-5">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Cuenta R</th>
              </tr>
            </thead>
            <tbody>
                {% for account in accounts %}  
                    <tr>
                        <td>{{account.code}}</td>
                        <td>{{account.name}}</td>
                        <td>{{account.description}}</td>
                        {% if account.account_r == True %}
                            <td>✅</td>
                        {% else %}
                            <td>❌</td>
                        {% endif %}

                    </tr>
                {% endfor %}
          </table>
        
    </div>
</div>
{% endblock %}