{% extends 'base.html' %}

{% block content %}
<form>

    {% csrf_token %}
</form>
<div class="container">
    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="container pt-5">
        <a href="{% url "createnature" %}" class="btn btn-primary">Crear naturaleza</a>
    </div>
</div>
<div class="container">
    <div class="container pt-5">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>naturaleza</th>
              </tr>
            </thead>
            <tbody>
                {% for nature in natures %}  
                    <tr>
                        <td>{{nature.main_account}}</td>
                        {% if nature.nature_of_balance == True %}
                            <td>Acreedor</td>
                        {% else %}
                            <td>Deudor</td>
                        {% endif %}

                    </tr>
                {% endfor %}
          </table>
        
    </div>
</div>
{% endblock %}